@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --primary-color: #03131b;
  --secondary-color: #ce9719;
  --text-light: #cbd5e1;
  --white: #fff;
  --max-width: 1200px;
  --header-font: "Space Grotesk", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section_subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 5rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--secondary-color);
}

.section_subheader::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 4rem;
  background-color: var(--secondary-color);
}

.section_subheader::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-60%, -50%);
  font-size: 8rem;
  font-weight: 600;
  color: var(--white);
  opacity: 0.1;
  z-index: -1;
}

.section_header {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(15, 30, 38, 0.4);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  position: relative;
  height: 100vh;
}

.header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 15rem);
  background-image: radial-gradient(rgb(255, 255, 255, 0), var(--primary-color)),
    url("./assets/header.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

nav {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  z-index: 9;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  position: absolute;
  right: 1rem;
  top: 68px;
  width: calc(100% - 2rem);
  max-width: 350px;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(10, 30, 39, 0.8);
  border-radius: 10px;
  display: none;
}

.nav_links.open {
  display: flex;
  animation: show-nav 0.3s linear forwards;
}

.nav_links.close {
  animation: hide-nav 0.3s linear forwards;
}

@keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-nav {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav_links a {
  font-weight: 500;
  color: var(--white);
}

.nav_links a:hover {
  color: var(--secondary-color);
}

.nav_menu {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav_account {
  display: none;
}

.header_container {
  position: relative;
  isolation: isolate;
  height: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_content {
  max-width: 700px;
}

.header_content .section_header {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
}

.header_content a {
  color: var(--white);
}

.header_content a:hover {
  color: var(--secondary-color);
}

.header_socials {
  color: var(--white);
  position: absolute;
  left: 0;
  align-items: center;
  gap: 1rem;
  transform: translateX(calc(-50% + 1rem)) rotate(90deg);
}
.header_socials a {
  font-size: 1.3rem;
  color: var(--white);
  transform: rotate(-90deg);
}

.header_socials a:hover {
  color: var(--secondary-color);
}
.about {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--primary-color) 8rem
  );
  overflow: hidden;
}
.about_container {
  padding-top: 15rem;
  display: grid;
  gap: 5rem 2rem;
  overflow: hidden;
}

.about_image img {
  max-width: 600px;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 5px 15px 50px rgb(0, 0, 0, 0.4);
}

.about_content {
  margin-left: 6rem;
}

.about_content-1 .section_subheader::after {
  content: "01";
}
.about_content-2 .section_subheader::after {
  content: "02";
}
.about_content-3 .section_subheader::after {
  content: "03";
}

.about_content p {
  margin-bottom: 1.5rem;
  color: var(--text-light);
}

.about_content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
}

.about_content a span {
  transition: 0.3s;
}

.about_content a:hover span {
  transform: translateX(10px);
}

.footer {
  background-color: var(--primary-color);
}

.footer_container {
  display: grid;
  gap: 4rem 2rem;
}

.footer_col:first-child {
  max-width: 300px;
}
.footer_logo {
  margin-bottom: 1rem;
}
.footer_col p {
  color: var(--text-light);
}

.footer_col h4 {
  margin-bottom: 1rem;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 600;
}

.footer_links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer_links a {
  color: var(--text-light);
}

.footer_links a:hover {
  color: var(--secondary-color);
}

.footer_bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 768px) {
  .nav_logo {
    flex: 1;
  }
  .nav_links {
    position: static;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }
  .nav_menu {
    display: none;
  }

  .nav_account {
    justify-content: flex-end;
    display: flex;
  }

  .header_container {
    height: calc(100% - 10rem);
  }

  .header_socials {
    display: flex;
  }

  .about_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10rem 2rem;
  }

  .about_image-1 {
    grid-area: 1/2/2/3;
  }

  .about_image-3 {
    grid-area: 3/2/4/3;
  }

  .about_content {
    margin-left: 6rem;
  }
  .footer_container {
    grid-template-columns: 2fr 1fr 1fr;
  }
}
